.header-title {
  background-color: white;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 20%;
}

.header-title h1 {
  color: #4D8DC9;
}

/* Subtitle */
.header-title h2 {
  color: #4D8DC9;
  text-transform: none;
  size: 12px;
  font-style: italic;
  text-shadow: rgba(34, 34, 34, 0.6) 1px 1px 4px;
}

.header-title h3 {
  color: #4D8DC9;
}

h1, h2, h3 {
  color: #4D8DC9;
}

a {
  color: #82B3FF !important;
}

#main {
  background-color: #68B8E5;
}

