.header-title {
  background-color: white;
  background-image: url(../images/logo.png);
    background-repeat: no-repeat;
  background-size: 20%;
}

.header-title h1 {
  color: black;
  /*color: #4D8DC9;*/
}

